name: alcohol_sanitizing_sheet
description: A new Flutter project.

# Prevent accidental publishing to pub.dev.
publish_to: "none"

version: 1.0.0+1

environment:
  sdk: ">=3.1.3 <4.0.0"

dependencies:
  flutter:
    sdk: flutter
  flutter_dotenv: ^5.1.0
  flutter_localizations:
    sdk: flutter
  sqflite: ^2.3.0

dev_dependencies:
  flutter_test:
    sdk: flutter

  flutter_lints: ^2.0.0
  flutter_native_splash: ^2.3.3
  flutter_launcher_icons: ^0.13.1

flutter:
  uses-material-design: true

  # Enable generation of localized Strings from arb files.
  generate: true

  assets:
    # Add assets from the images directory to the application.
    - assets/images/
    - .env

flutter_icons:
  android: true
  ios: true
  image_path: assets/images/symbol.png

flutter_native_splash:
  # 下記のコマンドで生成
  # flutter pub get
  # flutter pub run flutter_native_splash:create
  color: "#ffffff"
  image: assets/images/logo.png
  android: true
  ios: true
  fullscreen: true
